<%- include("./partials/adminPartials/top.ejs") %>
<!-- Start Content -->
<h1>All Orders</h1>
<div class="new-content">
  <div class="widget orders">
    <section class="head">
      <h4>Orders</h4>
      <div class="buttons">
          <button id="filter"><i class="fa-solid fa-filter"></i> Filter</button>
      </div>
  </section>
    <!-- <h4>Orders</h4> -->
  <form action="" class="select-filter">
    <section class="container-filter">
      <div class="search-box">
        <label for="searchByName">Product Name</label>
        <input type="search" name="" id="searchByName" placeholder="Name">
      </div>
      <div class="search-box">
        <label for="searchByStatus">Status</label>
        <select name="statusSearch" id="searchByStatus">
          <% let orderStatus = ["all","confirmed","prepared","shipped","delivered","paid","outofstock","unreached","canceled","refused","awaiting_return","returned","pending"] %>
            <% orderStatus.forEach((statue) =>{ %>
              <!-- <div data-status="<%= statue %>" class="option <%= statue %>"><%= statue %></div> -->
              <option value="<%= statue %>"><%= statue %></option>
              <% }) %> 
        </select>
      </div>
      <div class="search-box">
        <label for="searchByCollection">Collection</label>
        <!-- <input type="text" name="" id="searchByStatus"> -->
        <select name="collectionSearch" id="searchByCollection">
            <% ["all","glasses","shoes","accessories","panties","shirts"].forEach((statue) =>{ %>
              <!-- <div data-status="<%= statue %>" class="option <%= statue %>"><%= statue %></div> -->
              <option value="<%= statue %>"><%= statue %></option>
              <% }) %> 
        </select>
      </div>
      <!-- <div class="search-box">
        <label for=""></label>
        <button>Search</button>
      </div> -->
  </section>
  <!-- <div class="footer-filter">
    <button>Search</button>
  </div> -->
  </form>
    <section class="table-container">
      <table>
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Date</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>

        <% allOrders.forEach((order) => { %>
        <tr class="row-product">
          <td class="product">
            <article>
              <img src="/uploads/<%= order.product.images[0] %> " alt="" />
            </article>
          </td>
          <td class="product">
            <article>
              <div class="name"><%= order.product.title %></div>
              <div class="collection"><%= order.product.type %></div>
            </article>
          </td>
          <td class="date"><%= order.addedIn %></td>
          <td class="customer">
            <article>
              <div class="name"><%= order.fullName %></div>
              <a href="tel:<%= order.phone %>">
                <i class="fa-solid fa-phone"></i>
                <div><%= order.phone %></div>
              </a>
            </article>
          </td>
          <td class="status">
           


            <!-- select -->
            <div class="select <%= order.status[order.status.length-1].statue %>" data-productid="<%= order._id %>" >
              <div class="status">
                  <%= order.status[order.status.length-1].statue %>
                  <i class="fa-sharp fa-solid fa-chevron-down"></i>
              </div>
                  <div class="options dn">
                    <% let orderStatus = ["confirmed","prepared","shipped","delivered","paid","outofstock","unreached","canceled","refused","awaiting_return","returned","pending"] %>
                      <% orderStatus.forEach((statue) =>{ %>
                      <div data-status="<%= statue %>" class="option <%= statue %>"><%= statue %></div>
                      <% }) %> 
                  </div>
            </div>
            <!-- select -->


            

          </td>
          <td class="total"><%=order.total%><span>MAD</span></td>
          <td class="action">
            <a href="/admin/orders/<%=order._id%>">
              <i class="fa-solid fa-eye"></i>
            </a>
            <% //  <a href="#"><i class="fa-solid fa-pen-to-square"></i></a> %>
            
            <div>
              <i data-modal="delete_<%= order._id %>" class="fa-solid fa-trash-can"></i>
            </div>
            <section id="delete_<%= order._id %>" style="--modal-color:#ea5455" class="modal">
                <div class="popup">
                    <h3>Delete Product</h3>
                    <div class="content-modal">
                        Confirm Delete The Product
                    </div>
                    <div class="footer-modal">
                        <a class="confirm-btn" href="/admin/orders/delete/<%= order._id %>">Confirm</a>
                        <div class="cancel">Cancel</div>
                    </div>
                </div>
            </section>
          </td>
        </tr>
        <% }) %>
      </table>
    </section>
  </div>
</div>
                <!-- Start Modal -->
                <section id="status_my_modal" style="--modal-color:#33ab73" class="modal">
                  <div class="popup">
                      <h3>Product Status</h3>
                      <div class="content-modal">
                          Confirm Change Status
                      </div>
                      <div class="footer-modal">
                          <a data-link="/admin/orders" class="confirm-btn" href="">Confirm</a>
                          <div class="cancel">Cancel</div>
                      </div>
                  </div>
              </section>
              <!-- End Modal -->
<%- include("./partials/adminPartials/bottom.ejs") %>
