<%- include("./partials/adminPartials/top.ejs") %>
<section class="product-details">
  <div class="gallery">
    <div class="main-img">
      <img src="/uploads/<%= product.images[0] %>" alt="" />
    </div>
    <div class="all-imgs">
      <% product.images.forEach((img,index) => { %>
        <div class="img <%= index == 0 ? "active" : "" %> ">
            <img src="/uploads/<%= img %>" alt="" />
          </div>
      <% }) %> 
    </div>
  </div>
  <section class="info">
    <h4><%= product.title %> </h4>
    <div class="product-price">
      <div class="new-price">Price : <%= product.price %> <span>MAD</span></div>
      <% if(product.sub_price && product.sub_price != "0"){ %>
        <div class="old-price"><%= product.sub_price %> <span>MAD</span></div>
    <%} %> 
    
      
    </div>
    <div class="choices">
      <% if(product.colors.length > 0) { %>
        <div class="one-choices">
          <h6>Colors :</h6>
          <div class="colors">
              <% product.colors.forEach((color) => { %>
                  <div style="--color: <%= color %>" class="color"></div>
              <% }) %> 
          </div>
        </div>
      <% } %>
      <% if(product.clothes_size.length > 0) { %>
        <div class="one-choices">
          <h6>Sizes :</h6>
          <div class="top-sizes sizes">
              <% product.clothes_size.forEach((size) => { %>
                  <div class="size"><%= size %></div>
              <% }) %>
          </div>
        </div>
      <% } %>
      <% if(product.shoes_size.length > 0) { %>
        <div class="one-choices">
          <h6>Shoe size :</h6>
          <div class="shoe-sizes sizes">
              <% product.shoes_size.forEach((size) => { %>
                  <div class="size"><%= size %></div>
              <% }) %>
          </div>
        </div>
      <% } %>
    </div>
  </section>
</section>

<section class="description">
  <h6>Description</h6>
  <p>
    <%= product.description %> 
  </p>
</section>
<div class="bottom-form">
    <a href="/admin/allproducts/update/<%= product._id %> ">Update</a>
</div>
<%- include("./partials/adminPartials/bottom.ejs") %>
