<%- include("./partials/adminPartials/top.ejs") %>

<h1>Statistics</h1>

<div class="new-content">
  <div class="widget filterForcharts">
    <form action="" class="select-filter">
   
      <section class="container-filter">
        <div class="search-box">
          <label for="searchByTime">Time :</label>
          <select name="searchByTime" id="searchByTime">
              <option disabled value="time">Time :</option>
              <% ["today","yesterday","this month","last month","this year","last year"].forEach((time) =>{ %>
                <option value="<%= time %>"><%= time %></option>
                <% }) %> 
          </select>
        </div>
        <div class="search-box">
            <label for="from_searchByDate">From :</label>
            <input type="date" name="" id="from_searchByDate">
          </div>
          <div class="search-box">
            <label for="at_searchByDate">At :</label>
            <input type="date" name="" id="at_searchByDate">
          </div>
          
      <div class="search-box">
        <button>Search</button>
      </div>
    </section>
    </form>

  </div>
  <div class="mywidget statics">
    <div style="--c: orange" class="widget">
      <div class="head">
        <h4>TOTAL ORDER</h4>
        <i class="fa-solid fa-bag-shopping"></i>
      </div>
      <h2 class="number" id="totalOrders">0</h2>
      <!-- <h2 class="number" id="totalOrders"><%= allOrders.length %></h2> -->
    </div>
    <div style="--c: blue" class="widget">
      <div class="head">
        <h4>TOTAL VISITOR</h4>
          <i class="fa-solid fa-eye"></i>
      </div>
      <h2 class="number" id="totalVisitors">0</h2>
    </div>
    <div style="--c: red" class="widget">
      <div class="head">
        <h4>CONVERSION RATE</h4>
        <i class="fa-solid fa-percent"></i>
      </div>
        <h2 class="number"  id="convertionRate">0<span>%</span></h2>
    </div>
    <div style="--c: green" class="widget">
      <div class="head">
        <h4>TOTAL REVENUE</h4>
        <i class="fa-solid fa-sack-dollar"></i>
      </div>
      <%// let total = 0 %> 
      <%// allOrders.forEach(order => total += +order.total) %> 
      <!-- <h2 class="number"><%=// total %><span>MAD</span></h2> -->
      <h2 class="number" id="totalAmount">0<span>MAD</span></h2>
    </div>
  </div>



  <div class="mywidget charts-container">
    <div class="widget order-chart">
      <div id="orderChart">
        <canvas></canvas>
      </div>
    </div>
    <div class="widget status-chart">
      <div id="statusChart">
        <canvas></canvas>
      </div>
    </div>
      
  </div>
  <div class="mywidget charts-container" style="flex-wrap: wrap-reverse;">
    <div class="widget status-chart">
      <div id="collectionsChart">
        <canvas></canvas>
      </div>
    </div>
    <div class="widget order-chart">
      <div id="amountChart">
        <canvas></canvas>
      </div>
    </div>
  </div>
  <input type="hidden" id="inputForChart" value="<%= JSON.stringify(allOrders) %>">
  <input type="hidden" id="inputForVisitors" value="<%= JSON.stringify(visitors) %>">
  <script src="/cdn.js"></script>
  <script src="/chart.js"></script>
    
  
    
 
</div>

<%- include("./partials/adminPartials/bottom.ejs") %>
